<%= form_for(@line_item_property) do |f| %>
  <% if @line_item_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item_property.errors.count, "error") %> prohibited this line_item_property from being saved:</h2>

      <ul>
      <% @line_item_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :line_item_id %><br>
    <%= f.text_field :line_item_id %>
  </div>
  <div class="field">
    <%= f.label :item_property_item_id %><br>
    <%= f.text_field :item_property_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
