<h1>Listing line_item_properties</h1>

<table>
  <thead>
    <tr>
      <th>Line item</th>
      <th>Item property item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_properties.each do |line_item_property| %>
      <tr>
        <td><%= line_item_property.line_item %></td>
        <td><%= line_item_property.item_property_item %></td>
        <td><%= link_to 'Show', line_item_property %></td>
        <td><%= link_to 'Edit', edit_line_item_property_path(line_item_property) %></td>
        <td><%= link_to 'Destroy', line_item_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item property', new_line_item_property_path %>
