<h1>Listing item_property_items</h1>

<table>
  <thead>
    <tr>
      <th>Property item</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_property_items.each do |item_property_item| %>
      <tr>
        <td><%= item_property_item.property_item %></td>
        <td><%= item_property_item.item %></td>
        <td><%= link_to 'Show', item_property_item %></td>
        <td><%= link_to 'Edit', edit_item_property_item_path(item_property_item) %></td>
        <td><%= link_to 'Destroy', item_property_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item property item', new_item_property_item_path %>
