<%= form_for(@item_property) do |f| %>
  <% if @item_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_property.errors.count, "error") %> prohibited this item_property from being saved:</h2>

      <ul>
      <% @item_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.text_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
