<h1>Listing property_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_items.each do |property_item| %>
      <tr>
        <td><%= property_item.name %></td>
        <td><%= link_to 'Show', property_item %></td>
        <td><%= link_to 'Edit', edit_property_item_path(property_item) %></td>
        <td><%= link_to 'Destroy', property_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property item', new_property_item_path %>
